In [14]:
# Importing necessary packages
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split

# Loading dataset into a DataFrame
col_names = ["age", "workclass", "fnlwgt", "education", "education_num", "marital_status", "occupation", "relationship", "race", "sex", "capital_gain", "capital_loss", "hours_per_week", "native_country", "income"]

# Reading CSV, handling missing value token " ?", and trimming spaces after delimiters
df = pd.read_csv("/Users/Biadela/Documents/Data Analysis:Science/Codveda Internship/codveda-data-science/adult.csv", header = None, names = col_names, na_values = "?", skipinitialspace = True)

print("The dataset is of the shape " + str(df.shape))
df.head()

The dataset is of the shape (32561, 15)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [15]:
# Inspecting data types and missing values
print("The dataset consists of:")
df.info()

print("\nThe number of missing values per column are:")
print(df.isnull().sum().sort_values(ascending = False))

print("\nThe number of unique elements per object column is:")
print(df.select_dtypes(include = "object").nunique().sort_values(ascending = False))

The dataset consists of:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       30725 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      30718 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  31978 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

The number of missing values per column are:
occupation        1843
workclass         1836
native_country     583
fnlwgt               0
education            0
education_num        0
age                  0
marital_status       0
relationship         0
sex                  0
race                 0
capital_gain         0
capital_loss         0
hours_per_week       0
income               0
dtype: int64

The number of unique elements per object column is:
native_country    41
education         16
occupation        14
workclass          8
marital_status     7
relationship       6
race               5
sex                2
income             2
dtype: int64

In [26]:
# Removing rows with missing values
df = df.dropna().reset_index(drop = True)

print(f"\nRows remaining after dropping missing values: {df.shape[0]}")

print(df.isnull().sum())

Rows remaining after dropping missing values: 30162
age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [28]:
# Checking for and dealing with duplicates
dups = df.duplicated().sum()
print("Duplicate rows: ", dups)

if dups > 0:
    df = df.drop_duplicates().reset_index(drop = True)
    print("Duplicates dropped, new shape is ", df.shape)
else:
    print("No duplicates to drop")

Duplicate rows:  23
Duplicates dropped, new shape is  (30139, 15)

In [34]:
# Detecting and clipping outliers using IQR
cols_for_outliers = ["age", "fnlwgt", "education_num", "capital_gain", "capital_loss", "hours_per_week"]

outlier_summary = {}
for col in cols_for_outliers:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - (1.5 * IQR)
    upper = Q3 + (1.5 * IQR)
    num_outliers = ((df[col] < lower) | (df[col] > upper)).sum()
    outlier_summary[col] = {"Q1": int(Q1), "Q3": int(Q3), "IQR": int(IQR), "lower": int(lower), "upper": int(upper), "num_outliers": int(num_outliers)}
    df[col] = df[col].clip(lower = lower, upper = upper)

import pprint
pprint.pprint(outlier_summary)
print("\nAfter clipping, the ranges are: ")
print(df[cols_for_outliers].agg(["min", "max", "median"]))

{'age': {'IQR': 19,
         'Q1': 28,
         'Q3': 47,
         'lower': 0,
         'num_outliers': 168,
         'upper': 75},
 'capital_gain': {'IQR': 0,
                  'Q1': 0,
                  'Q3': 0,
                  'lower': 0,
                  'num_outliers': 2538,
                  'upper': 0},
 'capital_loss': {'IQR': 0,
                  'Q1': 0,
                  'Q3': 0,
                  'lower': 0,
                  'num_outliers': 1427,
                  'upper': 0},
 'education_num': {'IQR': 4,
                   'Q1': 9,
                   'Q3': 13,
                   'lower': 3,
                   'num_outliers': 193,
                   'upper': 19},
 'fnlwgt': {'IQR': 119977,
            'Q1': 117627,
            'Q3': 237604,
            'lower': -62338,
            'num_outliers': 904,
            'upper': 417570},
 'hours_per_week': {'IQR': 5,
                    'Q1': 40,
                    'Q3': 45,
                    'lower': 32,
                    'num_outliers': 7947,
                    'upper': 52}}

After clipping, the ranges are:
         age    fnlwgt  education_num  capital_gain  capital_loss  \
min     17.0   13769.0            3.0           0.0           0.0
max     75.5  417570.0           16.0           0.0           0.0
median  37.0  178417.0           10.0           0.0           0.0

        hours_per_week
min               32.5
max               52.5
median            40.0

In [35]:
# Engineering new features
df["capital_net"] = df["capital_gain"] - df["capital_loss"]

age_bins = [0, 25, 35, 45, 55, 65, 125]
age_labels = ["<25", "25-34", "35-44", "45-54", "55-64", "65+"]
df["age_group"] = pd.cut(df["age"], bins = age_bins, labels = age_labels, right = False)

print(df[["age", "age_group", "capital_gain", "capital_loss", "capital_net"]].head())

    age age_group  capital_gain  capital_loss  capital_net
0  39.0     35-44             0             0            0
1  50.0     45-54             0             0            0
2  38.0     35-44             0             0            0
3  53.0     45-54             0             0            0
4  28.0     25-34             0             0            0