In [2]:
# Importing necessary libraries and file
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("adult_preprocessed.csv")

print("Shape:", df.shape)
df.head()

Shape: (30139, 112)

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,capital_net,workclass_Federal-gov,workclass_Local-gov,workclass_Private,...,native_country_United-States,native_country_Vietnam,native_country_Yugoslavia,age_group_25-34,age_group_35-44,age_group_45-54,age_group_55-64,age_group_65+,age_group_<25,income
0,0.045401,-1.147731,1.136712,0.0,0.0,-0.231097,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0
1,0.889957,-1.086920,1.136712,0.0,0.0,-1.451391,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0
2,-0.031377,0.301753,-0.447774,0.0,0.0,-0.231097,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0
3,1.120291,0.501919,-1.240017,0.0,0.0,-0.231097,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0
4,-0.799155,1.589982,1.136712,0.0,0.0,-0.231097,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0